.Input-wrapper-simpleSearchBar{
    position: relative;
    display: flex;
    width: 180px;
    height: 34px;
    padding: 4px 10px;
    font-size: 14px;
    background: #fff;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    box-sizing: border-box;
    transition: background .2s border .2s
}

.Button-simpleSearchBar{
    display: inline-block;
    padding: 0 16px;
    font-size: 14px;
    line-height: 32px;
    color: #8590a6;
    text-align: center;
    cursor: pointer;
    background: none;
    border: 1px solid;
    border-radius: 3px;
}

.SimpleSearchBar-wrapper{
    margin: auto 0;
}

.SimpleSearchBar-wrapper .Input-after{
right: -1px;
}

.SimpleSearchBar-input{
    width:296px;
    background-color: #f6f6f6;
}

.TopStoryPageHeader-aside ,.TopStoryPageHeader-searchBar{
    width:216px
}

.TopStoryPageHeader-aside,.TopStoryPageHeader-searchButton{
    display: flex;
    align-items: center;
    border: none;
    height: 32px;
    padding: 0 12px;
    background-color: transparent;
}