.PageHeader{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    transition: transform .3s;
}

.PageHeader:not(.is-shown){
    transform: translateY(100%);
}

.TopstoryPageHeader{
    height: 52px;
    margin: 0 auto;
    width: 1000px;
}

.TopstoryPageHeader-main,.TopstoryPageHeader{
    display: flex;
    align-items: center;
}

.TopstoryPageHeader-main{
    flex:1 1;
}

.TopstoryPageHeader-aside{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 296px;
}

.TopstoryPageHeader-askButton{
    padding: 0 14px;
}