.Button{
    display: inline-block;
    padding: 0 16px;
    font-size: 14px;
    line-height: 32px;
    color: #8590a6;
    text-align: center;
    cursor: pointer;
    background: none;
    border: 1px solid;
    border-radius: 3px;
}

.Button--blue{
    color: #fff;
    background-color: #0084ff;
}

.Input-wrapper{
    position: relative;
    display: flex;
    width: 180px;
    height: 34px;
    padding: 4px 10px;
    font-size: 14px;
    background: #fff;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    box-sizing: border-box;
    transition: background .2s border .2s
}

.Input-wrapper--grey{
    background:#f6f6f6
}

.Input-wrapper.is-focus {
    background: #fff;
    border: 1px solid #8590a6;
}


.Input-after{
    position: absolute;
    top:50%;
    right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    transform: translate3d(0,-50%,0);
}

.Input{
    flex: 1 1;
    padding: 0;
    overflow: hidden;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    background: transparent;
    border:none;
    resize:none;
}

.Input:focus{
    outline: none
}

.SearchBar {
    display: flex;
}

.SearchBar-toolWrapper{
    position: relative;
    z-index: 104;
    width: 326px;
    height: 34px;
}

.SearchBar-tool{
    position: relative;
    float: left;
    overflow: hidden;
}

.SearchBar-tool .Popover{
    display: block;
}

.SearchBar-input{
    width: 326px;
    padding-left: 16px;
    transition: width .2s ease, background .3s ease;
}

.SearchBar-focusedInput{
    width:400px;
}

.SearchBar-searchIcon{
    position: absolute;
    right: -11px;
    top: -17px;
    bottom: -17px;
    background: transparent;
    border:transparent;
    padding: 0 12px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    transition: fill .3s ease
}

.SearchBar-askButton{
    z-index: 103;
    padding: 0 14px;
    margin-left: 16px;
    transition: opacity .3s ease ,-webkit-transform .3s ease;
    line-height: 30px;
}

.SearchBar-hiddenAskButton{
    opacity: 0;
    transform: scale(0);
}