.Button{
    display: inline-block;
    padding: 0 16px;
    font-size: 14px;
    line-height: 32px;
    color: #8590a6;
    text-align: center;
    cursor: pointer;
    background: none;
    border: 1px solid;
    border-radius: 3px;
}

.Button--blue{
    color: #fff;
    background-color: #0084ff;
}

.Button--primary.Button--blue:hover{
    background-color: #0077e6;
    border-color: #0077e6;
}

.Button--plain{
    height: auto;
    padding: 0;
    line-height: inherit;
    background-color: transparent;
    border: none;
    border-radius: 0;
}

.Button--plain:hover{
    color:#76839B;
}

.Button--link, .Button--plain {
    height: auto;
    padding: 0;
    line-height: inherit;
    background-color: transparent;
    border: none;
    border-radius: 0;
}

.AppHeader{
    position: relative;
    background-color: #ffffff;
    min-width: 1032px;
    width: 100%;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(26,26,26,.1);
    background-clip: content-box;
}

.AppHeader-inner{
    position: relative;
    display: flex;
    height: 52px;
    width: 1000px;
    padding: 0 16px;
    margin: 0 auto;
    align-items: center;
}

.AppHeader.is-fixed{
    z-index: 100;
}

.Sticky.is-fixed{
    position: fixed;
    box-sizing: border-box;
}

.ZhihuLogo {
    fill: #0084ff
}

.Icon{
    vertical-align: text-bottom;
}

.Sticky--holder{
    visibility: hidden;
}

.Popover-content {
    position: absolute;
    background: #fff;
    border: 1px solid #ebebeb;
    border-radius: 4px;
    box-shadow: 0 5px 20px rgba(26, 26, 26, .1);
    z-index: 203
}

.Popover-content--fixed{
    position: fixed;
}

.Popover-content--bottom {
    margin-top: 8px
}

.Popover-content--bottom.Popover-content--arrowed {
    margin-top: 16px
}

.Popover-arrow {
    position: absolute;
    overflow: hidden;
    pointer-events: none
}

.Popover-arrow:after {
    content: "";
    position: absolute;
    box-sizing: border-box;
    width: 24px;
    height: 24px;
    margin: -12px;
    border: 1px solid #ebebeb;
    background: #fff;
    transform: rotate(45deg);
    pointer-events: auto
}

.Popover-arrow--bottom:after{
    left:50%;
    bottom: -8px;
}

.Popover-arrow--bottom {
    width: 32px;
    height: 16px;
    transform: translate(-50%, -100%)
}

.Menu{
    padding: 6px 0;
}

.Menu-item {
    display: block;
    width: 100%;
    padding: 0 20px;
    text-align: left;
    cursor: pointer;
    box-sizing: border-box
}

.Menu-item.is-active {
    background: #f6f6f6
}

.AppHeaderProfileMenu-item {
    align-items: center;
    display: flex;
    height: 36px
}

.AppHeaderProfileMenu-item .Zi{
    margin-right: 6px;
}

.Messages-menu{
    width: 360px;
    padding: 0;
    overflow: hidden;
}

.Messages-header{
    display: flex;
    border-bottom: 1px solid #ebebeb;
}

.Messages-list{
    height: 350px;
    overflow-x: hidden;
    overflow-y: auto;
}

.Messages-footer{
    display: flex;
    justify-content: space-between;
    height: 40px;
    padding: 0 16px;
    line-height: 40px;
    background: #fff;
    border-top: 1px solid #ebebeb;
    box-sizing: border-box;
}

.Messages-tab{
    position: relative;
    flex: 1 1;
    height: 48px;
    font-size: 14px;
    cursor: pointer;
}

.Messages-myMessageTab{
    width:360px;
    color:#1a1a1a;
}

.PushNotifications-menu{
    width:360px;
    padding: 0;
    overflow:hidden;
}

.PushNotifications-header{
    display: flex;
    border-bottom: 1px solid #ebebeb;
}

.PushNotifications-list{
    height: 350px;
    overflow-x: hidden;
    overflow-y: auto;
}

.PushNotifications-footer{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 40px;
    padding: 0 16px;
    line-height: 40px;
    background: #fff;
    border-top: 1px solid #ebebeb;
    box-sizing: border-box;
}

.PushNotifications-redbot {
    position: absolute;
    top: 50%;
    width: 4px;
    height: 4px;
    margin-left: 8px;
    background-color: #f1403c;
    border-radius: 50%;
    transform: translateY(-2px)
}


.PushNotifications-tab {
    position: relative;
    flex: 1 1;
    height: 48px;
    cursor: pointer;
    box-shadow: none!important;
}

.PushNotifications-tab:not(:last-child)::after{
    position: absolute;
    left:120px;
    top:14px;
    width: 1px;
    height: 20px;
    margin: auto;
    background: #ebebeb;
    content:"";
}


.PushNotifications-selectedTabIcon {
    fill: #0084ff
}

.Notifications-footer{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 40px;
    padding:0 16px;
    line-height: 40px;
    background: #fff;
    border-top: #ebebeb;
    box-sizing: border-box;
}

.SearchBar-menu{
    width: 400px;
    padding-bottom: 0;
    overflow-x: hidden;
}

.SearchBar-menu .SearchBar-noValueMenu{
    padding-bottom: 8px;
}

.SearchBar-topSearchItem {
    display: inline-flex;
    font-size: 14px;
    align-items: center;
    padding: 4px 0;
    height: 32px;
    box-sizing: border-box;
    margin: 2px 0;
}