.TopStory-container{
    display: flex;
    align-items: flex-start;
    width:1000px;
    padding: 0 16px;
    margin: 10px auto;
}

.Topstory-mainColumn{
    flex-shrink: 0;
    margin-right: 10px;
    margin-bottom: 0;
    width:694px;
    box-shadow: 0 1px 3px rgba(26,26,26,.1)
}


.GlobalSideBar{
    flex: 1 1;
    font-size: 14px;
}

.GlobalSideBar-navLink{
    display: flex;
    align-items: center;
    padding: 0 20px;
    overflow: hidden;
    height:40px;
}

.GlobalSideBar-navLink:hover{
    background: #f6f6f6;
}

.GlobalSideBar-navNumber{
    padding: 6px 10px;
    border-radius: 2px;
    background: #f6f6f6;
    color: #8590a6;
    font-size: 12px;
}

.GlobalSideBar-navLink:hover .GlobalSideBar-navNumber{
    background: #fff;
}

.GlobalSideBar-categoryList{
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0 -5px;
    padding: 0 10px;
}

.GlobalSideBar-categoryItem{
    width: 33%;
    display: flex;
    margin-bottom: 25px;
}

.GlobalSideBar-categoryItem  a:hover .GlobalSideBar-categoryLabel{
    color: currentColor;
}

.GlobalSideBar-categoryItem .Button{
    display: flex;
    flex:1 1;
    flex-direction: column;
    align-items: center;
    position: relative;
    cursor: pointer;
    color: currentColor;
}

.GlobalSideBar-categoryIcon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    margin-bottom: 10px;
}

.GlobalSideBar-categoryLabel{
    font-size: 15px;
    color:#8590a6;
}

.GlobalWrite-draft .GlobalSideBar-navLink{
    margin: 0 -20px;
    width: 100%;
}

.GlobalSideBar-navText{
    flex:1 1;
    margin: 0 10px;
    text-align: left;
}

.GlobalSideBar-navList{
    width: 100%;
    padding: 8px 0;
}

.GlobalWrite-draft{
    display: flex;
    align-items: center;
    height: 48px;
    margin: 0 20px;
    color: #8590a6;
    border-top: 1px solid #f0f2f7;
}

.GlobalWrite-nav{
    display:flex;
    justify-content: center;
}

.GlobalWrite-nav,.GlobalWrite-navItem{
    display: flex;
}

.GlobalWrite-navItem{
    align-items: center;
    cursor: pointer;
    flex-direction: column;
    margin: 23px;
    position: relative;
}

.GlobalWrite-navTitle{
    color: #444;
    font-size: 16px;
}

.GlobalWrite-navItem:hover .GlobalWrite-navTitle{
    color:#175199;
}

.GlobalWrite-navIcon{
    color:#8590a6;
    margin-bottom: 6px;
}

.GlobalSideBar .Footer{
    font-size:13px;
    line-height: 2;
    color:#8590a6;
}

.Footer-item{
    display: inline-block;
}

.Footer-dot:after{
    margin: 0 5px;
    content: "\B7";
}

.Card{
    margin-bottom: 10px;
    background: #fff;
    overflow: hidden;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(26,26,26,.1);
    box-sizing:border-box;
}

.OrgCreateButton{
    border: none;
    padding: 0;
}

.TopstoryTabs{
    display: flex;
    height: 58px;
    border-bottom: 1px solid #f6f6f6;
}

.Topstory-tabs{
    border-bottom: 1px solid #f0f2f7;
}

.TopstoryTabs-link{
    display: flex;
    align-items: center;
    font-size: 16px;
    margin: 0 22px;
}

.TopstoryTabs-link.is-active{
    color: #0084ff;
    font-weight: 500;
}

.Topstory-tabCard{
    box-shadow: none;
}

.Topstory-noMarginCard{
    margin-bottom: 0;
}

.TopstoryItem{
    border-radius: 0;
    overflow: initial;
    position: relative;
    padding: 16px 20px;
}

.TopstoryItem-isFollow{
    padding-top: 15px;
}

.Topstory-mainColumn .Card:not(.Topstory-tabCard){
    margin-bottom: 0px;
    box-shadow: none;
    border-bottom: 1px solid #f0f2f7;
}

.AuthorInfo{
    display: flex;
    align-items: center;
}

.AuthorInfo-content{
    flex:1 1;
    overflow: hidden;
}

.AuthorInfo--plain .AuthorInfo-content{
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.AuthorInfo-name{
    font-weight: 600;
    color:#444;
}

.AuthorInfo-detail{
    overflow: hidden;
}

.AuthorInfo-badge{
    display: flex;
    align-items: center;
    margin-top: 2px;
    font-size: 14px;
}

.ztext{
    word-break: break-word;
    line-height: 1.6;
}

.AuthorInfo-badgeText{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #646464;
}


.AuthorInfo--plain .AuthorInfo-badge>:first-child{    
    margin-top: 0;
 }

.AuthorInfo--plain .AuthorInfo-badge>:first-child::before{
    content:"\FF0C";
}

.FeedSource-firstline{
    margin-bottom: 6px;
    color:#8590a6;
    height: 24px;
}

.FeedSource-byline{
    margin-bottom: 14px;
}

.ContentItem-title{
    font-size: 18px;
    font-weight: 600;
    line-height: 1.6;
    color:#1a1a1a;
    margin-top: -4px;
    margin-bottom: -4px;
    cursor: pointer;
}

.RichContent{
    line-height: 1.67;
}

.RichContent.is-collapsed{
    cursor: pointer;
    transition: color .14s ease-out;
}

.RichContent-cover {
    position: relative;
    width: 190px;
    height: 105px;
    margin-top: -2px;
    margin-right: 18px;
    margin-bottom: 4px;
    float: left;
    overflow: hidden;
    background-position: 50%;
    background-size: cover;
    border-radius: 4px;
    transform: translateZ(0);
}

.RichContent-cover-inner {
    position: absolute;
    top: 50%;
    left: 0;
    height: 100%;
    width: 100%;
    transform: translateY(-50%);
    overflow: hidden;
}

.RichContent-cover:after {
    position: absolute;
    z-index: 1;
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(26,26,26,.02);
    content: "";
}

.RichContent-inner {
    margin-top: 9px;
    margin-bottom: -4px;
    overflow: hidden;
}

.RichContent-cover+.RichContent-inner {
    margin-top: 16px;
}

.RichContent.is-collapsed .RichContent-inner {
    max-height: 100px;
}

.RichContent.is-collapsed .CopyrightRichText-richText {
    pointer-events: none;
}

.RichContent.is-collapsed:not(.RichContent--unescapable) .CopyrightRichText-richText {
    white-space: normal;
}

.ContentItem-more {
    padding: 0;
    margin-left: 4px;
    color: #175199;
}

.ContentItem-actions {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    margin: 0 -20px -10px;  
    color: #646464;
    background: #fff;
    clear: both;
}


.VoteButton {
    padding: 0 10px;
    color: #0084ff;
    background: rgba(0,132,255,.1);
    border-color: transparent;
}

.TopstoryItem .Button:not(.Button--plain):not(.Button--link) {
    line-height: 30px;
    padding: 0 12px;
}

.VoteButton--down {
    margin-left: 4px;
}

.TopstoryItem .Button:not(.Button--plain):not(.Button--link) {
    line-height: 30px;
    padding: 0 12px;
}

.Button--withIcon.Button--link, .Button--withIcon.Button--plain {
    padding: 0;
}

.ContentItem-actions>* {
    flex-shrink: 0;
}

.ContentItem-action {
    margin-left: 24px;
    font-size: 14px;
}

.Button--withIcon.Button--withLabel .Button-zi {
    margin-right: 4px;
}




